[2018-09-07 16:07] genebean opened #2 "Weather summary can excede the space available"
The text on the "Currently" line can be wider than the space allowed for it.

![image](https://user-images.githubusercontent.com/966789/45230317-7ace9e80-b296-11e8-8fbf-8bca15427596.png)

[2018-09-08 11:13] #2 closed

[2018-09-09 20:37] iamkhris opened #3 "Metric Display"
Any way to get this to display temperatures/values in metric?

[2019-01-21 21:50] ejmorgan55 opened #4 "Libraries will not load"
sudo apt-get install libsdl1.2-dev libsdl-ttf2.0-dev libsdl-image1.2-dev \
libsdl-mixer1.2-dev libjpeg-dev libportmidi-dev libtimedate-perl
pip install -r requirements.txt

Error code could not find any packages is displayed:

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libsdl-image1.2-devlibsdl-mixer1.2-dev
E: Couldn't find

[2019-02-02 08:23] ssamjh commented on #3
Also curious about this. Had a look through and can't see how to change it.

[2019-03-05 14:40] andyshilton commented on #3
You can alter the call to the darksky API to achieve this. Look for the following around about line199 in weather.py:

[code]
This is the call and it can be adjusted as per the instructions here:

https://darksky.net/dev/docs
I prefer the "uk2" style which uses celcius for temps and miles for wind speeds etc, so I altered the API call to be the following and it works fine:

[code]

[2019-06-05 09:09] meahdi opened #6 "No suitable video driver found!"
Hi
I try to test this code but have this error
any one can help me?

(
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html
Driver: x11 failed.
Driver: fbcon failed.
Driver: directfb failed.
Driver: svgalib failed.
Traceback (most recent call last):
  File "weather.py", line 726, in <module>
    my_disp = my_display()
  File "weather.py", line 158, in __init__
    r

[2019-06-05 11:55] genebean commented on #6
How are you running it? What OS are you on?

[2019-06-05 11:56] genebean commented on #3
Sorry I didn’t see this sooner. I’ll look at adding a confit flag for metric.

[2019-06-05 11:57] genebean commented on #4
I see you are on something Debian based but exactly what distro is this from?

[2019-06-05 12:40] andyshilton commented on #3
@genebean  Thanks. Love the display! Got it on the wall at work.

[2019-11-25 08:20] holson-zhong commented on #6
I have the same issue with this.

PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

Linux raspberrypi 4.19.75-v7+ #1270 SMP Tue Sep 24 18:45:11 BS

[2019-11-25 17:35] holson-zhong commented on #6
I've figured out now. I ran "python weather.py" in command line mode, so it will show the error msg. If I ran it in the Desktop mode. It works!!

[2019-12-13 12:27] genebean commented on #6
@holson-zhong is there something I could change about the documentation to help? Also, what exactly do you mean by desktop mode?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-15 07:47] holson-zhong commented on #6
Yes, it might be help when you change about the documentation, it should
declare that this script CAN'T RUN IN COMMAND LINE.

Desktop mode is the meaning of GUI, when I run this script in my raspberry
pi through the keyboard and mouse ( actually it  was double clicked my
mouse), it works. But when I run the script through the putty and command
line, it shows the error message.

Haoxiang Zhong
Mob:

[2019-12-15 12:26] genebean commented on #6
This should work without a GUI just fine. It can utilize a frame buffer to display the graphical bits. It’s intended to work with any of these drivers:

https://github.com/genebean/PiWeatherRock/blob/6352d6980f355b12bea6ee9165b90d7fc872b359/weather.py#L142

I just pulled out an old Pi I had in storage so I’ll double check this is all working as expected and then comment back.

[2019-12-27 20:28] genebean commented on #6
I just did a fresh install of Rasbian 10 Lite with the following steps and everything worked:

1. ran raspi-config
2. installed git, vim, & python3-pip
3. cloned this repo
4. created my config file with vim
5. ran the apt-get install command from the readme
6. ran `pip3 install -r requirements.txt`
7. ran `python3 weather.py`

I suspect the no driver found issue was because you were not running it

[2019-12-27 20:28] #6 closed

[2019-12-27 20:29] genebean commented on #4
I just did a fresh install on Raspbian 10 Lite with just the packages from the readme plus git, vim, and python3-pip and everything came up. Feel free to reopen if you have more info

[2019-12-27 20:29] #4 closed

[2019-12-28 16:17] genebean commented on #3
I am working on this but still have some bits to figure out. Here is the status https://github.com/genebean/PiWeatherRock/compare/metric

[2019-12-28 16:25] genebean commented on #3
The main thing I need to figure out is how I want to determine when to show `mph` vs `kph` and the like

[2019-12-29 17:55] #3 closed

[2019-12-29 17:57] genebean commented on #3
If you all have any additional requests for making this work better when using something other than `us` for units please let me know.

[2019-12-29 19:14] genebean opened #8 "Recenter current temp"
After adding the F / C to the current temperature the text no longer looks centered.

Possible fix: sum all character widths before determining initial `x`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-29 19:16] genebean opened #9 "Modularize code"
The code in `weather.py` is too complex and needs to be broken out into additional files.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-29 19:17] genebean opened #10 "Document x11 setup"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-29 20:25] genebean commented on #8
Fixed by #11

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-29 20:25] #8 closed

[2020-01-14 12:13] genebean opened #14 "Add error handling"
Currently things crash if the internet is down or if the api is unreachable

[2020-01-20 02:57] Alternating opened #15 "Add On bitcoin Current price?"
I was wondering if you would be interested in adding in the current Bitcoin Price to the main screen above where it says if we need an umbrella or not? or maybe on the screen with the sunset or sunrise.

Here is some code but i'm unsure where or exactly how to add this with out breaking the weather station.

:-)
(source https://realpython.com/python-bitcoin-ifttt/)

BITCOIN_API_URL = 'https://api.

[2020-01-20 03:01] genebean commented on #15
This project is focused solely on displaying weather information so I am not inclined to put time into implementing this. That said, if you want to work up a code submission that makes displaying this extra information optional then I would be happy to review it and, most likely, merge it in.

[2020-01-20 03:01] #15 closed

[2020-01-22 10:31] dodas425 opened #16 "Internet Weather Station is not shown on 320x240 display"
Hello everybody!

Unfortunately, I'm almost desperate again.
Get this message with the command (sudo python weather.py):
Traceback (most recent call last):
  File "weather.py", line 825, in <module>
    if my_disp.get_forecast() is False:
  File "weather.py", line 274, in get_forecast
    config.UNITS)
TypeError: forecast() takes at most 3 arguments (4 given)

Or with the command (python3. weather

[2020-01-22 11:50] genebean commented on #16
Happy to help! First off, you don’t need sudo for this... it should run as the current user. To use sudo would actually require more environment settings. Second, can you tell me what operating system you are running? If on a Debian based system, did you use the directions in the readme including installing the extra libraries?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-22 12:32] dodas425 commented on #16
Hello!
I´m running:
Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 9.1 (stretch)
Release:        9.1
Codename:       stretch

Furthermore I installed all dependencies and got and used an API key from https://darksky.net/dev. Unfortunately, the script still doesn't work properly.

[2020-01-22 12:36] genebean commented on #16
Are you running it locally from your raspberry pi or from an ssh connection?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-22 12:37] genebean commented on #16
Also, what does `env | sort` return?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-22 12:49] dodas425 commented on #16
I´m running it from an ssh connection.  I usually put it in the startup, so that when the Raspberry Pi's was powered up it should start.

[2020-01-22 12:50] dodas425 commented on #16
Also, what does env | sort return?

<-- What do you mean by that?

[2020-01-22 12:54] genebean commented on #16
Please run that command. As for running this over ssh, you have to export your display for that to work. Am I correct in assuming you are running the full version of Raspnian, aka not “Raspian Lite?”

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-22 12:55] dodas425 commented on #16
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
HOME=/home/pi
LANG=de_DE.UTF-8
LOGNAME=pi
MAIL=/var/mail/pi
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/gam                                        es:/usr/games
PWD=/home/pi
SHELL=/bin/bash
SHLVL=1
SSH_CLIENT=192.168.178.93 63177 22
SSH_CONNECTION=192.168.178.93 63177 192.168.178.102 22
SSH_TTY=/dev/pts/0
TERM=x

[2020-01-22 12:57] genebean commented on #16
That’s what I was expecting. Your `DISPLAY` environment variable is not set. Me doing #10 will document that process. I’ll see about doing that when I get home tonight.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-22 12:59] dodas425 commented on #16
I don't know which Rasbian version is installed (Lite or Full) ...?

[2020-01-22 12:59] dodas425 commented on #16
Thank you for your help!

[2020-01-22 20:16] dodas425 commented on #16
Good evening! Do you still have time to show me how to set the DISPLAY environment variable? best regards

[2020-01-22 23:01] genebean commented on #16
I just got home a little while ago. It’ll be later tonight but it is on my to do list still.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-23 04:49] #10 closed

[2020-01-23 04:50] genebean commented on #16
@dodas425 check out the updated readme. It should get you taken care of as I have made this able to run as a service. Please let me know if that works or if you need more help.

[2020-01-23 06:57] dodas425 commented on #16
Thank you so much for the great help. I will be happy to test it out after work tonight and will get in touch! I wish you a nice day!

[2020-01-24 03:57] genebean commented on #16
Just wanted to see how things went

[2020-01-24 08:08] dodas425 commented on #16
Hi there! Sorry that I'm only reporting now. I have some stress at work and at home at the moment ... I worked through your instructions yesterday. Unfortunately the startup is not yet possible. I also had to take smaller icons that I didn't like so much, but I didn't know how to use the icons in order to zoom out so that they are displayed correctly and quickly in my resolution 320x240. Unfortuna

[2020-01-24 08:12] dodas425 commented on #16
Sorry, here is the picture from the display of the Raspberry Pis.

-----Ursprüngliche Nachricht-----
Von: Thomas Klein <dodas2277@gmail.com>
Gesendet: Freitag, 24. Januar 2020 06:22
An: Klein, Thomas <t.klein@uks.eu>
Betreff: Foto wettter

Von meinem iPhone gesendet

[2020-01-24 08:15] dodas425 commented on #16
Here is the picture from the display of the Raspberry Pi…..

[2020-01-24 08:18] dodas425 commented on #16
![IMG_6361](https://user-images.githubusercontent.com/58953505/73054359-83734500-3e8a-11ea-853a-7e744fb87d04.JPG)

[2020-01-24 11:53] genebean commented on #16
What resolution is your display?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-24 11:53] dodas425 commented on #16
320x240

[2020-01-24 12:06] genebean commented on #16
Do you have FULLSCREEN set to true? Also, what kind of startup problems are you having?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-24 12:09] genebean commented on #16
Also, what’s wrong with the time? Regarding using sudo, if you back up your config, delete your copy of the code, reclone it without sudo like the docs say, put your config back, and run the new install.sh it should start automatically.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-24 13:38] dodas425 commented on #16
No! I have set the fullscreen to false. I'm going to change it tonight and set it to true.

[2020-01-24 13:41] dodas425 commented on #16
Doesn't it matter how big the icons are and are automatically adjusted to the resolution 320/240 if FULLSCREEN = True?

[2020-01-24 13:55] dodas425 commented on #16
OK, I'll go through these steps again tonight. Maybe I made a mistake and will report to you directly! Thank you!

[2020-01-24 13:56] dodas425 commented on #16
Are the attached icons also intended for 320/240 resolution?

[2020-01-24 14:03] genebean commented on #16
So, there are two sets of icons in the code. The non-full screen set of code sets things up assuming you have 480x320 display. When fullscreen is used it detects your display size and scales accordingly. Anything with a width less than 1024 gets the small icons as the big ones just take up too much room. The logic for this is here: https://github.com/genebean/PiWeatherRock/blob/d5e0ac110b00ca353cf

[2020-01-24 14:58] dodas425 commented on #16
I now understand your explanation about config.FULLSCREEN. At home I test whether the smaller icons look good and give feedback! If the icons should be 128x128, I'll get back to a new issue

[2020-01-24 21:53] dodas425 commented on #16
Hi there! I have followed your installation instructions. Unfortunately it didn't work, so I entered weather.py in a launcher.sh, which in turn is loaded via .bashrc when the Raspberry pi is restarted.

[2020-01-24 22:00] dodas425 commented on #16
Unfortunately the wind speed is not shown completely. Do you know how I can adjust the font for humidity and feels like? I was able to adjust the icons to 64x64 pixels, but it would be nice if they could be positioned a little higher ... Do you have an idea? I have added 2 photos. Thanks in advance!

![IMG_6367](https://user-images.githubusercontent.com/58953505/73107102-58760900-3efd-11ea-80d2-33

[2020-01-24 22:04] dodas425 commented on #16
Here is my modified script attached...
[weather.zip](https://github.com/genebean/PiWeatherRock/files/4110895/weather.zip)

[2020-01-25 08:08] dodas425 commented on #16
The text on the info screen also doesn't fit perfectly :-(
![IMG_6371](https://user-images.githubusercontent.com/58953505/73118280-3e1a4a80-3f52-11ea-9107-02293cc75cd0.JPG)

[2020-01-25 14:59] genebean commented on #16
I will look into this some this weekend but I think the root cause is that this isn’t setup for that low of a resolution display. I’ll see if I can get it looking better though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-25 19:00] dodas425 commented on #16
Oh, that's very nice of you! I'm glad

[2020-01-26 04:21] ronstar2820 opened #18 "Ran into a snag installing on Raspbian 8"
I had the previous Weather.com version running for years. For some reason, the Weather.com API is no longer working, so I looked for an alternative.

Found this app developed by the developer of my previous app, so I gave it a try.

I followed instructions and the install died

I see quite a few notices that the app is intended to run on Raspbian 10. I have Raspbian 8. So maybe that is my problem.

[2020-01-26 11:18] hammiesam opened #19 "PiWeatherRock not working"
Hi!

The original Weather Station stopped working for me as well.

I tried installing this on a fresh install of Buster, i followed all the steps, but nothing happens.

I ran sudo systemctl status PiWeatherRock and got the following:

Is there anything I can try?  Thanks!

● PiWeatherRock.service - PiWeatherRock Service
   Loaded: loaded (/etc/systemd/system/PiWeatherRock.service; enabled; vendor

[2020-01-26 17:52] genebean commented on #18
I’ll take a look today. I think the last line of output in your screenshot may be key.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 17:54] genebean commented on #19
Would you mind running the last line in install.sh and pasting the output here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 20:05] genebean commented on #18
I am going to check a couple of things on my side but I also have a question for you: do you have a need to stay on Raspbian 8 or are you game to upgrade? Personally, I have done the in-place upgrades and had good success.

[2020-01-26 20:17] ronstar2820 commented on #18
Thanks for the quick response! I just formatted my card and did a fresh install of Raspbian 10. I'll report back my findings.

[2020-01-26 20:18] genebean commented on #18
👍 Please do let me know how it goes because I do want to make sure that this works on current versions of Raspbian.

[2020-01-26 20:54] ronstar2820 commented on #18
Ok. Everything finished, but no service started on it's own. So I did "sudo systemctl status PiWeatherRock" and got the screenshot below. Also typed sudo python weather.py and got the other screenshot. Looks like weather.py can't find a module named "darksky"
![Screen Shot 2020-01-26 at 2 53 47 PM](https://user-images.githubusercontent.com/60288465/73141621-bca6e300-404b-11ea-89b3-32adc98835fd.png

[2020-01-26 20:57] genebean commented on #18
I think I know what is up... I should be able to post something back in about 10 or 15 minutes

[2020-01-26 20:58] ronstar2820 commented on #18
Thanks!

[2020-01-26 21:18] genebean commented on #18
I have the issue figured out, about to push an update.

[2020-01-26 21:29] genebean commented on #18
@ronstar2820 - would you mind running the following commands for me to validate the fix?

[code]

The branch I am asking you to try has the following changes:

[code]

Once you have run the commands, I suggest you go ahead and switch back to master by running `git checkout master`.

[2020-01-26 21:32] ronstar2820 commented on #18
Will do!

[2020-01-26 21:34] genebean commented on #19
I think we found the problem in #18 and have a fix in #20 - I will post back shortly with confirmation.

[2020-01-26 21:36] genebean commented on #18
BTW, for manual testing outside of systemd you will want to use `python3` instead of `python`

[2020-01-26 21:50] ronstar2820 commented on #18
I'm a novice at this and don't understand what you mean by python3 vs python.

Don't I just enter these commands on terminal?

Is the second line supposed to be "python" or "pyhton"

In either case I get "error: pathspec 'fix_python' did not match any file(s) known to git"

[2020-01-26 21:54] genebean commented on #18
Oops, sorry about the assumptions!

So, you have two commands on your system: `python` runs Python version 2 whereas `python3` runs Python version 3. I am only testing against the latter since Python 2 is now end of life.

In your terminal, you will first need to run `git fetch` and then the `git checkout fix_python` should work. Yes, the command above was a typo too.

[2020-01-26 21:57] ronstar2820 commented on #18
I get "Error: cannot open .git/FETCH HEAD: Permission denied" when I type git fetch on the terminal

[2020-01-26 21:58] genebean commented on #18
What does `ls -la` show?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 22:01] ronstar2820 commented on #18
and a few more files if I scroll more
![Screen Shot 2020-01-26 at 4 00 39 PM](https://user-images.githubusercontent.com/60288465/73142507-1069fa00-4055-11ea-9465-acea8f6034a3.png)

[2020-01-26 22:02] genebean commented on #18
Does `git pull` work?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 22:03] ronstar2820 commented on #18
No - I get "error: cannot open .git?/FETCH HEAD: Permission Denied"

[2020-01-26 22:05] genebean commented on #18
It is acting like sudo got used somewhere... let me get back to you shortly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 22:31] genebean commented on #18
I think I see the flaw in my approach to fixing the issue and why it’s causing problems. I should be able to resolve it tonight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-26 22:33] ronstar2820 commented on #18
Thanks! It’s no problem for me to start from scratch if need be. Whatever I can do to help make it easier for you.

[2020-01-26 22:34] genebean commented on #18
Much appreciated

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 00:08] genebean commented on #18
FYI: I started a Gitter for this project to facilitate real time chats too. I’ll be in there a little later. https://gitter.im/PiWeatherRock/community

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 00:08] genebean commented on #19
FYI: I started a Gitter for this project to facilitate real time chats too. I’ll be in there a little later. https://gitter.im/PiWeatherRock/community

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 00:09] genebean commented on #16
FYI: I started a Gitter for this project to facilitate real time chats too. I’ll be in there a little later. https://gitter.im/PiWeatherRock/community

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 02:27] hammiesam commented on #19
Thanks Gene for fixing the problem!

[2020-01-27 02:27] #19 closed

[2020-01-27 02:33] #18 closed

[2020-01-27 02:35] genebean commented on #18
@ronstar2820 if #20 doesn't actually fix your issue feel free to reopen this.

[2020-01-27 02:35] ronstar2820 commented on #18
Thanks - I’m giving it a try now

[2020-01-27 03:01] ronstar2820 commented on #18
Still the same situation. Ran install. Service doesn't startup. Checked status and get same screenshot as above and same error running weather.py where it can't find module darksky

[2020-01-27 03:23] genebean commented on #16
FYI, I added some new info to he readme tonight and fixed a few bugs. I haven’t forgotten about your issue and hope to work on it this week.

[2020-01-27 03:26] genebean commented on #18
Would you humor me and try the new update section of the readme?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 03:31] ronstar2820 commented on #18
Thanks - This is going to take a while. Since it didn’t work after your fix, I erased everything in PiWeatherRock. But I couldnt totally get rid of the directory, so I started again using PiWeatherRock2

Anyway, I’ll keep plugging

[2020-01-27 03:32] genebean commented on #18
You can kill the entire directory by running `sudo rm -rf /home/pi/PiWeatherRock`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 03:37] ronstar2820 commented on #18
Thanks! I’ll start over with a fresh PiWeatherRock

[2020-01-27 04:20] ronstar2820 commented on #18
Nope - still doesn't work. Same situation as before - same as above screenshots. Tried the update section of the readme. I get "no such file or directory" when I type "pi@rock:~/PiWeatherRock $ git pull"

[2020-01-27 04:21] genebean commented on #18
Did you type `git pull` while inside your PiWeatherRock folder?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 04:22] ronstar2820 commented on #18
yes and no. I’ve tried it both ways

[2020-01-27 04:23] genebean commented on #18
Mind continuing this via Gitter?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 04:51] genebean commented on #18
We figured out via Gitter that he issue was the api key needed to have single quotes around it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 05:35] genebean opened #23 "Create PyPI package"
Currently, installation and upgrades are all git-based. Creating a PyPI package would greatly simplify the process for users and would be a first step towards packaging this project for Debian.

[2020-01-27 05:37] genebean opened #24 "Create Debian package"
Once #23 is complete, wrapping the remaining installation steps in a Debian package would greatly reduce the setup complexity.

[2020-01-27 05:50] ronstar2820 opened #25 "Key to switch to main screen"
Usage section of instructions say that "w" takes you to main screen. It does not.

Code in Weather.py suggests that:

 "d" takes you to the main daily screen.
"h" takes you to the main hourly screen
etc

Perhaps the instructions can be edited

[2020-01-27 09:43] dodas425 commented on #16
Hi there! Gitter is a nice idea! Very interesting. The weather project deserved something :)

[2020-01-27 09:44] dodas425 commented on #16
Thanks for the info, my dear. I am happy for every optimization. Thank you so much for your help!

[2020-01-27 12:48] hammiesam opened #26 "When pressing "Q" to quit, PiWeatherRock restarts and pops back up in 10 seconds"
Is there a way to quit PiWeatherRock by pressing "Q"? Right now, the programs pops back up 10 seconds after pressing "Q".

But of course, `systemctl stop PiWeatherRock ` works well too from the terminal, so not a huge issue.

[2020-01-27 13:09] genebean opened #27 "Fix linting"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 13:19] genebean commented on #25
I’ll have this updated today.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-27 13:29] hammiesam opened #28 "Ability to set each Display Mode's interval/duration"
I would prefer my default screen to be on Daily Forecast, so it would be great if there is a way to extend the period of time the Daily Forecast screen is displayed.

[2020-01-27 13:47] #25 closed

[2020-01-27 14:44] dodas425 commented on #16
I don't want to ask too much, but it would be nice to be able to create the days in another language!

[2020-01-27 17:06] thebaldgeek opened #30 "Error while installing Puppetlabs."
On install I get the following error;

**Describe the bug**
Notice: Installing -- do not interrupt ...
/etc/puppet/modules
└─┬ camptocamp-systemd (v2.8.0)
  ├─┬ puppetlabs-inifile (v4.1.0)
  │ └── puppetlabs-translate (v2.1.0)
  └── puppetlabs-stdlib (v6.2.0)
Error: Could not parse for environment production: Syntax error at ':'; expected '}' at /home/pi/PiWeatherRock/setup.pp:64 on node wx.opto22

[2020-01-27 22:39] genebean commented on #16
Thanks! Regarding the language stuff, feel free to open a feature request

[2020-01-28 00:18] genebean commented on #30
The issue here is that Rasbian 8 comes with Puppet 3.x which was end of life'ed years ago. I am happy to help get you going but first have to ask: any reason why you don't upgrade to Rasbian 10?

[2020-01-28 10:53] dodas425 opened #31 "Language adjustment, especially in German and text size adjustment"
It would be a nice feature if you could adapt texts in weather.py to German (or other languages). For example date, times of day and days of the week. A simple adjustment of the text size would also be ingenious, so that texts on the info screen and also in the feels like, wind, humidity window could be adjusted accordingly.

[2020-01-28 11:57] dodas425 commented on #16
OK thanks! I made that already :-)

[2020-01-28 16:16] thebaldgeek commented on #30
Nope, no reason not to upgrade. Thanks for adding it as a 'requirement' to the readme.
Upgraded and installed fine.
Just one last question, is it possible to edit a file somewhere and NOT have it auto cycle between daily and hourly? I would like it to just constantly display daily.

[2020-01-28 18:46] genebean commented on #30
Glad that got it! There really isn’t a way right now but I think you could add that request to #28. I think accounting for both would make sense. I’m closing this issue since it sounds fixed but feel free to reopen if needed or hit me up on Gitter

[2020-01-28 18:46] #30 closed

[2020-01-28 18:52] genebean commented on #31
I will look into the logistics of this but was wondering if you’d be game to help with the actual translations if I provided a list of words / phrases?

[2020-01-28 19:27] dodas425 commented on #31
Naturally! You help me / us so much, then I can help you. What do you need for phrases / words in German?

[2020-01-29 11:44] SimBiker13 opened #32 "Touchscreen slide between info, hourly and daily page instead of keyboard."
I would like to switch between pages just by swiping on the touchscreen, instead of using a keyboard. I tried to change the code to make it work, but I have no idea to use touchscreen, because I think I can't use the "event.key" like if it was a keyboard. Does anyone knows how to do this?

[2020-01-29 13:32] genebean commented on #32
I would actually like this too. My most recent setup has a touchscreen so I was already planning to look into this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-29 18:47] ronstar2820 commented on #32
I had this code in my previous version to toggle between main and vacation home weather. Something like this may work for you.

if event.type == pygame.MOUSEBUTTONUP:
				if zip_code == '85260':
					zip_code = '60450'
					myDisp.UpdateWeather()
				else:
					zip_code = '85260'
					myDisp.UpdateWeather()

[2020-01-29 19:34] dodas425 opened #33 "Hourly weather forecast indicates "a.m" in the evening"
Unfortunately, the hourly weather forecast (4 hours in advance) also shows "a.m" in the evening.  "p.m." should be displayed...

[2020-01-29 20:20] TH3-G3NTL3M3N commented on #32
Good! Trying this soon and coming back to you guys if its working!

[2020-01-31 13:53] dodas425 commented on #31
Hello! Do you already have something in the works regarding language integration? I could give you German translations on a timely basis... Greetings Thomas

[2020-01-31 13:54] dodas425 commented on #31
It would also be very nice if you could help me to reduce text size as needed...

[2020-01-31 13:56] genebean commented on #31
I have to look at how to do i18n with Python and what it will take to apply that to the code. I may have some time this weekend to poke at it some but am not sure. I greatly appreciate the offer to help translate things though and will take you up on it as soon as I figure the other bits out.

[2020-01-31 13:59] dodas425 commented on #31
Oh, that's very nice! But it doesn't burn... :-)

[2020-02-01 10:13] dodas425 opened #35 "Left column margin in daily and hourly forecast further to the left"
Hi there! One thing really bothers me! Maybe this can be fixed relatively quickly? Can the left outer column line be shifted one unit to the left? Unfortunately I don't find the place in the coding where you can set this? Thank you!

![Unbenannt](https://user-images.githubusercontent.com/58953505/73590520-b305fb00-44e3-11ea-944e-eb59c9c6a62a.JPG)

[2020-02-01 14:16] genebean commented on #35
Are you talking about moving the vertical line that is the left border to the left a little? If so, I’m game but curious why.

[2020-02-01 15:35] dodas425 commented on #35
Yes, exactly this vertical line!

Von meinem iPhone gesendet

[2020-02-01 18:38] dodas425 commented on #35
The left rectangle is smaller than the other 3 ones next! So today's low temperature and cloud are too close to the edge (first vertical line) ...

[2020-02-02 21:52] genebean commented on #35
What resolution is your display?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-03 07:41] dodas425 commented on #35
The resolution is 320 x 240.

[2020-02-03 12:10] genebean commented on #35
Ahhhh, that explains it. This version currently makes some assumptions that include the resolution being at least 480x320. You are the second person to run into issues due to a lower resolution. I’ll look into this soon though.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-03 12:47] dodas425 commented on #35
OK, then it's settled :-) I am glad when the adjustment comes. Thanks a lot

[2020-02-10 04:44] hammiesam opened #36 "Pull Air Quality Index data from https://aqicn.org/gaia/"
Is it possible to pull Air Quality Index data to be displayed on PiWeatherRock?

[2020-02-10 04:56] genebean commented on #36
I have reached out to them to check on how to comply with their terms of use. My thought is that if they give a 👍 in integrating that I’ll make this an optional data point that’s shows just below humidity.

See http://aqicn.org/json-api/doc/#api-Geolocalized_Feed-GetGeolocFeed for how to reuse the lat and long used for forecasting and http://aqicn.org/api/ for general api info.

The steps needing

[2020-02-11 11:25] dodas425 commented on #16
Hi, Gene! Did you get around to looking for my Python display problem (resolution 320x240) yet? Changing that value in line 253 of weather.py to 58 has compressed the display even more.

My Python script at this point is a bit different, if it should not look compressed:

os.environ["SDL_FBDEV"] = "/dev/fb1"
        os.environ["SDL_MOUSEDEV"] = "/dev/input/event0"
        os.environ["SDL_MOUSEDRV"

[2020-02-14 05:03] genebean commented on #16
I ordered a 320x240 screen tonight so that I can dig into this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-14 06:36] dodas425 commented on #16
Oh that's good news! I am curious.

Von: Gene Liverman <notifications@github.com>
Gesendet: Freitag, 14. Februar 2020 06:03
An: genebean/PiWeatherRock <PiWeatherRock@noreply.github.com>
Cc: dodas425 <dodas2277@gmail.com>; State change <state_change@noreply.github.com>
Betreff: Re: [genebean/PiWeatherRock] Internet Weather Station is not shown on 320x240 display (#16)

I ordered a 320x240 screen to

[2020-02-18 21:32] nickdifranco opened #37 "Display gets stuck on info mode?"
Really loving this app, exactly what I was looking for on my Pi with a 3.5 screen. I've noticed that the app switches to the info screen (usually accessed by hitting the "i" key) unprompted and seems to stay there until another key is pressed, or at least, way longer than I feel like it should. I don't know if it would revert on its own but I waited about 5 minutes before VNC-ing and hitting the D

[2020-02-18 21:46] genebean commented on #37
The timings are at https://github.com/genebean/PiWeatherRock/blob/91a934fb5d5f1bdd11c0feb74e280893e20692a2/weather.py#L869 but, basically, it should switch off info after about 5 minutes. Would you mind letting it sit for a bit longer and letting me know how long it actually takes on your device?

[2020-02-18 21:47] nickdifranco commented on #37
Thanks for the quick reply, I actually just timed it and it was just about 5 minutes before reverting back to the daily display. So, working as intended. Guess I just got a little impatient.  Closing the issue.

Thanks again. Like I said, exactly what I was looking for on my Pi. Cheers!

[2020-02-18 21:47] #37 closed

[2020-02-18 22:06] genebean commented on #37
Really glad you like it!

[2020-02-21 14:14] dodas425 commented on #16
Hi, are you a little bit programming on the new 320/240 display? Best wishes

[2020-02-21 14:41] rawhide911 opened #38 "Dual screen on Pi4"
when running PiWeatherRock on my Pi4 with dual screens it appears split between both screens, is there a way for it only to be seen on 1 screen so i can use the second screen for other uses?

[2020-02-21 21:36] genebean commented on #38
@rawhide911 Try changing `FULLSCREEN` to `False` in config.py

[2020-02-21 21:46] genebean commented on #16
I tried but a it turned out my spare Pi was dead. I just got another zero w that I’m going to use but it’s going to be a few days til I’m able to start

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-22 03:23] genebean commented on #36
I’m planning to work on this next week

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-23 21:22] genebean commented on #31
I think this may be easier than I first thought... I will push up a change shortly that adds a new configuration setting so that the results from the Dark Sky api can be in any language they support. For example, here's the daily summary in multiple languages:

- English: "Possible drizzle in the morning."
- German: "Nieselregen m\u00f6glich am Vormittag."
- Czech: "R\u00e1no mo\u017enost mrholen\

[2020-02-24 02:39] hammiesam commented on #36
Awesome! Looking forward to it.  Thanks for all your hard work.

[2020-02-25 09:07] dodas425 commented on #16
OK, I'm glad to see you're moving on. Good luck.

[2020-02-25 09:07] dodas425 commented on #31
Further on and on! I'm glad to see you're making progress!

[2020-02-25 15:21] repkadan commented on #31
@genebean  Hi I tried the new version and conditions_text is translated very well. The only two things that bothers me is the translation of the day of the week and the month. Would there be any possibility to translate this in the future, or at least suggest what part of the code to focus on? Thank you. I add photos of my changes and translations to Czech language. Thank you very mutch. https://d

[2020-02-26 12:42] genebean commented on #16
@dodas425 I got my display the other day but had to work with the manufacturer to get to actually use the 320x240 resolution. This morning I finally have it working at that resolution so I can now start trying to debug your issue.

[2020-02-26 12:44] genebean commented on #38
@rawhide911 did you get things working? If not, feel free to jump into https://gitter.im/PiWeatherRock/community for some more real-time help

[2020-02-26 12:58] dodas425 commented on #16
That's very nice! Good luck. Good luck.

[2020-02-26 22:56] rawhide911 commented on #38
I did set fullscreen to False
when running WeatherRock both screens turn black and WeatherRock is seen on screen 1
but very small in the upper left corner

I am running the Pi4 with 2 Uctronics 7" touch screens

My ultimate goal is to run WeatherRock on one screen and Action Tiles on the other, I am currently
running Action Tiles on a Pi3 but would like to run both off the same Pi

Thank You for y

[2020-02-27 01:40] genebean commented on #38
I was working on refactoring some stuff night before last and I think I know what is causing the issue you are seeing. I think I will have it fixed in the near future but it will still be a week or two.

[2020-02-28 11:47] genebean commented on #31
Have you tried the setting yet @dodas425 ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-29 03:48] genebean opened #42 "Program crashes when quickly switching between info and weather"
After merging #41 it seems that sound the following will cause a crash:

1. Start program
2. Press `i`
3. Press either `h` or `d`

Reverting to before #41 via `git checkout 67e469017b9a994fde989e57b8008ffdbbde336b` removes the issue so I assume it’s a bug in revised logic.

I pinged @metaMMA in Gitter and will also look into this myself this weekend.

<sub>Sent with <a href="http://githawk.com">Gi

[2020-03-01 01:26] #42 closed

[2020-03-02 08:58] dodas425 commented on #31
Sorry I didn't get back to you sooner. I've been under some stress with work I had to do at home. I haven't had time to apply the changes you've made so nicely. Are the translations in now? Thanks so much!

Von: Gene Liverman <notifications@github.com>
Gesendet: Freitag, 28. Februar 2020 12:48
An: genebean/PiWeatherRock <PiWeatherRock@noreply.github.com>
Cc: dodas425 <dodas2277@gmail.com>; Mention

[2020-03-02 12:29] genebean commented on #31
No problem! The parts that come directly from Dark Sky like the summary are now translated. I just realized that the only documentation of this is in the sample config file though. I’ll get the docs updated and link them here so it’s more clear.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-07 14:24] dodas425 commented on #31
![IMG_6713](https://user-images.githubusercontent.com/58953505/76145203-b7e04080-6087-11ea-85dc-9f4c34ca9e98.jpg)
![IMG_6712](https://user-images.githubusercontent.com/58953505/76145205-b9116d80-6087-11ea-834b-5f5d1be343de.jpg)

[2020-03-07 14:26] dodas425 commented on #31
Hi there! This is how the 2 views look on my display. Unfortunately, the writing and the texts do not fit on my 320/240 resolution display. Do you already have a solution to my resolution?

[2020-03-07 16:11] repkadan commented on #31
@dodas425  Hi look to line 632 in weather.py, you might be a bit further or closer
   find this line:  time_string = time.strftime("%-d. %b,   %-H:%M", time.localtime())   and test this change.

[2020-03-07 16:17] repkadan commented on #31
@dodas425  and here is a nice explanation of what each value means. For example, you may have to use only time to fit the text. try it
https://strftime.org/

[2020-03-07 16:26] repkadan commented on #31
@dodas425  or there is time and date text size in line 266         self.time_date_text_height = 0.129

In a similar way it will be possible to reduce size other texts

Sorry my English please

[2020-03-08 02:16] genebean commented on #31
This coming week I am planning on digging into the issues with the 320 resolution. I had another project with a deadline that has taken my time this week.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-20 01:32] genebean opened #45 "Alt icons are black"
All alt icons need to be made white.

[2020-03-20 01:33] genebean commented on #45
/cc @dodas425 and @metaMMA This is for what we were just talking about

[2020-03-23 11:58] son-dh opened #47 "What to do after installation?"
Sorry for such a noob question, but I am trying to get PiWeatherRock displays on the LCD screen of my Rasp Pi 1 Model B (Buster Lite). I have done the config and ran the installation, but nothing happens on my CLI screen on the LCD (HDMI port is not used).

I checked the status of PiWeatherRock in systemctl, and here it gets confusing to me:
- I checked the status from the terminal screen on the L

[2020-03-23 13:54] genebean commented on #47
You will want to use at least "Raspbian Buster with desktop" for things to just work. It is possible to get things going with the Lite version but it takes a fair bit of manual work. Are you game to try the desktop version @son-dh?

[2020-03-23 14:02] son-dh commented on #47
I was thinking that might be the reason. I will install a desktop environment on the pi then!

[2020-03-31 22:01] genebean commented on #47
Any better @son-dh?

[2020-03-31 22:04] genebean opened #48 "Replace Dark Sky API"
According to https://blog.darksky.net, Apple has purchased Dark Sky and will shut down the api at the end of 2021. Thus, we need a new data source.

[2020-04-01 04:30] son-dh commented on #47
@genebean thanks for reaching out! Yes I managed to get it working finally last weekend, and I have read the news about Dark Sky acquisition today... how irony...

Thanks for the great piece of work, though! With the social distancing, I can look at the weather without going outside :D

[2020-04-01 10:42] genebean commented on #47
Glad to hear it! The Dark Sky stuff is a bummer but we will adapt.

[2020-04-01 10:42] #47 closed

[2020-04-01 13:41] MarticusH commented on #48
@genebean - potentially weather.gov? They have an [open API](https://www.weather.gov/documentation/services-web-api).

I discovered that the original project died when piwapi stopped working due to weather.com, so I'm following any replacement pretty closely.

[2020-04-01 15:57] genebean commented on #48
I looked at that last night but it looked to only have weather for the US

[2020-04-01 16:25] MarticusH commented on #48
Perhaps [OpenWeatherMap](https://openweathermap.org/price)? Seems the free tier is limited to 1 API call / sec, which is (in my opinion) way more than necessary - my own weatherpi was querying once per 5min.

Looks like they have [current forecast API]() and [5-day forecast API](https://openweathermap.org/forecast5) that would likely emulate the previous functionality, and looks like it supports a

[2020-04-01 16:32] MarticusH commented on #48
Alright, API key got activated, looks like we also have the ability to use icons from their site itself (or write something to use the existing icons); example output is below from their site:
https://samples.openweathermap.org/data/2.5/forecast?id=524901&appid=b6907d289e10d714a6e88b30761fae22

Icon info is [here](https://openweathermap.org/weather-conditions).

So far, looks pretty reasonable - t

[2020-04-01 23:35] fraser386 commented on #48
Please do let us know if you can get that API working. I literally bought a screen in a case for this to wall mount it on the 28th, arrived today. I checked on here to start working at setting up my new weather display! To my dismay its over with...

[2020-04-02 01:16] genebean commented on #48
That really sucks @fraser386! I'll absolutely get it working and will keep this issue updated with progress. I am certainly considering Open Weather Map @MarticusH. I am also checking with two other sources that look like they may have more to offer too in hopes that one of them will pan out.

[2020-04-02 01:19] fraser386 commented on #48
Thank you @genebean!

[2020-04-02 13:55] MarticusH commented on #48
Cool cool, thank you @genebean - let us know what you decide on!

[2020-04-03 10:50] genebean commented on #48
I contacted Foreca at a users suggestion but it seems they don’t currently offer anything free or near-free. I have a meeting scheduled for today though that I’m hoping pans out.🤞More info soon.

[2020-04-03 13:57] genebean commented on #48
![image](https://user-images.githubusercontent.com/966789/78368333-77de8180-7591-11ea-8377-5e8e2d141a67.png)

Just had a great call with Climacell and found out that in a matter of days they will have a free tier for their weather api that has limits similar to what Apply just killed off for Dark Sky. This is what I plan to move us to. They directed me at the right set of api docs and are checking

[2020-04-11 06:41] dronix27 opened #51 "Add support for external sensors like dht am2302"
I would like to see an additional screen displaying data from a sensor such as dht am2302 or other similar.

[2020-04-14 04:50] metaMMA commented on #28
@genebean I think we can close the one.

[2020-04-14 04:55] #28 closed

[2020-04-25 05:22] genebean commented on #48
Just a quick update to say I haven’t forgotten about this. I’m still working with @metaMMA to get their enhancements merged in. Hopefully I’ll have more news soon.

[2020-04-25 13:06] fraser386 commented on #48
Thanks!

Sent from my iPhone

[2020-04-28 03:42] genebean commented on #48
Tonight I started writing the actual Python module to pull forecast data from ClimaCell. Prior to this I’ve been wrapped up in other improvements and some unrelated work. It feels good to start interacting with the new api. 👋 Darksky

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-29 01:12] genebean commented on #36
So, it looks like the move to Climacell is also going to facilitate getting this done :) Do you just need the AQI or do you also need other data points such as "Particulate Matter" and "ozone"?

[2020-04-29 01:29] hammiesam commented on #36
Hi Gene, particulate matter would be great as well like possible!  Thank you

[2020-04-29 03:08] genebean commented on #36
It looks like a few associated things are offered... would you look at the Air Quality section of https://developer.climacell.co/v3/reference and let me know what makes sense?

[2020-04-29 03:13] hammiesam commented on #36
pm25 and pm10 and epa_aqi would be great!

[2020-04-29 03:14] genebean commented on #36
Is china_aqi of use?

[2020-04-29 03:16] hammiesam commented on #36
i think China made their own aqi standard because their pollution from factories and coal power plants are so bad.  so it's less strict compared to the US EPA standard according to what i've read, so personally i rather have the epa_aqi.  Thanks Gene.

[2020-04-29 03:18] genebean commented on #36
Works for me 😀 It’s simpler to just do epa vs doing both or trying to pick one or the other.

[2020-05-07 02:20] #38 closed

[2020-05-11 13:01] genebean commented on #31
https://linkode.org/#RanYQoA2t1cJJVpjFX5PO4 will help with the translation bit

[2020-05-11 18:39] repkadan commented on #31
Hello. This is probably not for me, I filled in this table a long time ago.
My language is Czech (cs)

---------- Původní e-mail ----------
Od: Gene Liverman <notifications@github.com>
Komu: genebean/PiWeatherRock <PiWeatherRock@noreply.github.com>
Datum: 11. 5. 2020 15:01:28
Předmět: Re: [genebean/PiWeatherRock] Language adjustment, especially in
German and text size adjustment (#31)
"

https://l

[2020-05-11 20:37] genebean commented on #31
@repkadan sorry, no - the link was because I got @metaMMA to share it with me the other day and I wanted to include it here to keep from losing it. With the move to ClimaCell and the changes I have already merged into the code base its going to be even more important that I deal with all the places that need the language taken into account. Thanks for filling it in too!

[2020-05-12 05:39] repkadan commented on #31
Hello. OK. Have fun.

---------- Původní e-mail ----------
Od: Gene Liverman <notifications@github.com>
Komu: genebean/PiWeatherRock <PiWeatherRock@noreply.github.com>
Datum: 11. 5. 2020 22:37:43
Předmět: Re: [genebean/PiWeatherRock] Language adjustment, especially in
German and text size adjustment (#31)
"

@repkadan(https://github.com/repkadan) sorry, no - the link was because I
got @metaMMA(htt

[2020-06-20 13:29] jmertic commented on #48
@genebean - Thank you for this! Is this work on a branch somewhere that one could preview/test?

[2020-07-02 12:27] Stone-Hedge commented on #48
It makes me really happy to see this integration happening. Such a good project.  Keeping my eye out for anything I can help with.

[2020-08-20 13:27] ryakel opened #80 "Include Severe Weather Alerts"
**Is your feature request related to a problem? Please describe.**
It is challenging to get a complete picture of the weather forecast without including alerts from the weather provider.

**Describe the solution you'd like**
I would be great if the alerts section of DarkSky (or whatever provider comes next) could be parsed and included in the same box as the other 'additional info' like wind, humi

[2020-09-24 10:42] dependabot-preview[bot] opened #81 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/genebean) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/genebean/update-logs/48595786).

[2020-09-28 10:22] #81 closed

[2020-10-04 04:28] bkolin commented on #48
Also very interested in this work. If there is a testable branch I would be happy to take it for a spin.

[2020-10-28 07:50] AubreyKloppers opened #82 "Install error"
Project-level configuration in bolt.yaml is deprecated if using bolt-project.yaml. Transport config should be set in inventory.yaml, all other config should be set in bolt-project.yaml.
Started on weather.local...
Failed on weather.local:
  The task failed with exit code 1 and no stdout, but stderr contained:
  Too many arguments.
Failed on 1 target: weather.local

[2020-10-30 08:58] canibalimao commented on #48
@genebean still no updates on the ClimaCell version of the weather app?

[2020-11-02 12:47] AubreyKloppers commented on #48
Did you get any further with the API over the last 6 months?

[2021-03-07 10:26] carloshm commented on #48
Hi Everyone. I just installed bolt 1.4.0 version but dont know about the API Key. Is it still running with Dark Sky service? is it ready for the ClimaCell API? Thanks for this contribution!!

[2021-05-06 02:58] leunamekram commented on #48
Hi Folks,

Perhaps https://openweathermap.org/api can also be a good alternative? Thanks for this.

[2021-05-12 19:27] LuxStatera commented on #48
love the project! has it been updated with the new api?

[2021-11-28 03:03] jagganath69 commented on #48
I guess author @genebean has been too busy, probably given the COVID situation.
I'll try weather.com, since that works for my RAINMETER app...

[2021-11-28 04:31] genebean commented on #48
I have. I recently started looking at this again and have come up with a plan. It's going to take some time as I don't have a lot of time to work on things, but this is going to be addressed as I still use PiWeatherRock every day.

[2021-11-28 09:22] Stone-Hedge commented on #48
If you have time, why not set out your plan in Projects and maybe some of us can help with tasks?

[2022-06-09 19:39] Rockstar22 commented on #48
Any updates?

[2022-07-03 09:48] MrHappymoose commented on #48
Another one here wondering about updates, this looks like a great project to work on with a couple of kids who love sciency stuff.

[2022-07-03 11:14] genebean commented on #48
I’m hoping to dive back in this week. I’ve now got the extras motivation of my own setup not working well because the code doesn’t currently handle api errors well and, instead, spams the api with requests causing rate limits to be exceeded. All that to say I think my motivation has returned (finally).

[2022-07-03 11:22] genebean opened #85 "API calls don’t have error handling resulting in too many daily calls"
**Describe the bug**
When there is an error in an api call the application does not handle it and, instead, immediately calls the api again. This results is way too many calls being made and rate limits being hit.

[2022-07-03 11:27] genebean opened #86 "Package as Flatpak"
**Is your feature request related to a problem? Please describe.**
Installation is overly complicated right now. Project/application discoverability could also be better

**Describe the solution you'd like**
Since this was started, Flatpak has become a mainstream option. I want to look at utilizing it as the primary means of distribution and installation

**Describe alternatives you've considered*

[2022-07-03 11:50] genebean commented on #24
Closing in favor of #86

[2022-07-03 11:50] #24 closed

[2022-07-03 11:52] genebean commented on #23
99% this is complete. Closing for now.

[2022-07-03 11:52] #23 closed

[2022-07-16 17:27] genebean commented on #48
FYI: I started working on this yesterday and plan to work more later today.

[2022-07-17 00:06] genebean commented on #48
After hours of work today I have discovered I left a spaghetti like mess of intertwined code for myself 😞 I'm now working to refactor some of the current code to facilitate replacing Darksky. The upside: I think I see where things are screwy and overly complicated.

[2022-07-17 07:35] MrHappymoose commented on #48
Awesome to see you working on this again, sorry to see it's being a pain!

[2022-07-18 04:26] genebean commented on #48
Today I got a normalized data structure created that contains all the bits of the response from Darksky's api that are used in the various bits of my code. The new structure is a dictionary (a hash) with predictable keys. The values are filled in with the data returned from Darksky. The next step is to put this new data structure to use in the existing code. Once that's complete, I'll extract the

[2022-11-29 19:16] kodepharm commented on #48
@genebean is this project still ongoing?

[2022-11-30 16:36] Barry-IA commented on #48
On 11/29/22 13:16, kodepharm wrote:

Hi!

No idea on the project status (I'm an end-user like yourself) but my
DarkSky is still working -- did see a notification the API was to stop
working the end of 2021 and its almost the end of 2022. (Maybe I
shouldn't tell!)  Hope it does continue working or we find what to do
for updating.

[2022-11-30 18:55] kodepharm commented on #48
@Barry-IA same, my pi is still able to fetch so i am not sure when is the actual cut off data from darksky. it seems like the entire community on gitter is also silent, i hope things are not abandoned.

[2022-11-30 20:49] ciprian288 commented on #48
For a modified version with wind and weather data from OpenWetherMap
https://github.com/ciprian288/PiWeatherRock-Windguru-Holfuy